.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10%;
}

.confirm h3 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 3%;
  color: var(--color-header);
  text-align: center;
}

.confirm button {
  font-family: inherit;
  font-weight: 600;
  border: none;
  font-size: 2rem;

  padding: 1.2rem 2.4rem;
  cursor: pointer;

  transition: 0.3s;

  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
}
