.next-previous-button{
  font-family: inherit;
  border: none;
  font-size: 2rem;

  padding: 1.2rem 2.4rem;
  cursor: pointer;

  transition: 0.3s;

  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
  float: right;
}
