:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-medium-light: #f1f6fa;
  --color-light: #f1f3f5;
  --color-header: #1c7fab;
  --color-header2: #4e5085;

  --color-theme: #7dcbc9;
  --color-accent: #fa5151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Sen", sans-serif;
  color: var(--color-darkest);
}

body {
  color: var(--color-darkest);
}
.app {
  width: auto;
  height: 100vh;
  display: flex;
  padding: 18px 10px 10px 18px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  position: relative;

  background: var(--color-light);
 overflow-x: hidden;
 overflow-y: auto;


}

@media only screen and (min-width: 600px) {
  .app {
    padding: 18px 10px 10px 18px;
    width: 768px;
    height: 980px;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
  }
}
