:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-medium-light: #f1f6fa;
  --color-light: #f1f3f5;
  --color-header: #1c7fab;
  --color-header2: #4e5085;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: var(--color-light);

}

.app {
  width: auto;
  height: 100vh;
  display: flex;
  padding: 18px 10px 10px 18px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  position: relative;

  background: var(--color-light);
  overflow: hidden;
}
