.finished-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  width: 95%;
}

.result span {
  font-size: 2.2rem;
  margin-right: 10px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}
.restart-button {
  margin: 0% 25%;

  font-family: inherit;
  border: none;
  font-size: 2rem;

  padding: 1.2rem 2.4rem;
  cursor: pointer;

  transition: 0.3s;

  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
  align-self: center;
}
