.category {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category select {
  margin-top: 10%;
  color: var(--color-darkest);
  font-family: inherit;
  font-size: 2rem;
  border: none;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
  color: var(--color-dark);
}

.category label {
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 1.2rem;
  color: var(--color-header2);
  text-align: center;
}
