.app-header {
  /* height: 16rem;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center; */
  /* position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; */

  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(145deg, #d9dde1, #ffffff);
  box-shadow: 20px 20px 60px #cdd1d5, -20px -20px 60px #ffffff;
  background: var(--color-medium-light);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
}

.elipse-center-1 {
  position: absolute;
  width: 135px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%)
}
.elipse-center-2 {
  position: absolute;
  width: 107px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%)
}

.elipse-center-3 {
  position: absolute;
  width: 89px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%)
}

.logo {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 43%);

  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.elipse-1 {
  position: absolute;
  left: 0%;
  top: 13%;
}

.elipse-2 {
  position: absolute;
  top: 0%;
  left: 13%;
}

.elipse-3 {
  position: absolute;
  top: 0%;
  left: 75%;
}

.elipse-4 {
  position: absolute;
  left: 90%;
  top: 8%;
}

/*
@media only screen and (min-width: 768px) {
  .elipse-center-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 135px;
    height: 135px;
  }
  .elipse-center-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 107px;
    height: 135px;
  }

  .elipse-center-3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 89px;
    height: 135px;
  }
  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 8.2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 430px) {
  .elipse-center-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 140px;
    height: 140px;
  }
  .elipse-center-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 107px;
    height: 140px;
  }

  .elipse-center-3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 89px;
    height: 140px;
  }
  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 8.2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 393px) {
  .elipse-center-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 135px;
    height: 135px;
  }
  .elipse-center-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 107px;
    height: 135px;
  }

  .elipse-center-3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 89px;
    height: 135px;
  }
  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 8.2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .elipse-center-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 126px;
    height: 126px;
  }
  .elipse-center-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 99px;
    height: 126px;
  }

  .elipse-center-3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
    width: 83px;
    height: 126px;
  }

  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 8.2%;
    width: 74px;
    height: 74px;
    border-radius: 50%;
  }
}
 .app-header::before {
    content: "";
    position: absolute;
    bottom: 0;

    left: 50%;
    width: 50%;
    height: 70%;
    background: linear-gradient(
      to bottom right,
      var(--color-header),
      var(--color-header2)
    );

    border-radius: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) scale(3)

  } */
