.app-header {
  width: 100%;
  height: 37%;
  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: inset 5px 5px 10px #cdd1d5, inset -5px -5px 10px #ffffff;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
}

.elipse-center-1 {
  position: absolute;
  width: 135px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
}
.elipse-center-2 {
  position: absolute;
  width: 107px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
}

.elipse-center-3 {
  position: absolute;
  width: 89px;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
}

.logo {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 43%);
  opacity: 0.87;

  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.elipse-1 {
  position: absolute;
  left: 0%;
  top: 12%;
  width: 110px;
  height: 120px;
}

.elipse-2 {
  position: absolute;
  top: 0%;
  left: 13%;
  width: 90px;
  height: 90px;
}

.elipse-3 {
  position: absolute;
  top: 0%;
  left: 70%;
  width: 110px;
  height: 100px;
}

.elipse-4 {
  position: absolute;
  left: 90%;
  top: 9%;
  width: 100px;
  height: 100px;
}

.elipse-5 {
  position: absolute;
  top: 23.5%;
  left: 22%;
}
.elipse-6 {
  position: absolute;
  top: 19%;
  left: 70%;
  width: 90px;
  height: 90px;
}

.elipse-9 {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 12.5%;
  left: 20%;
}

.elipse-16 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15%;
  left: 73%;
}

@media only screen and (min-width: 390px) {
  .elipse-3 {
    top: 0%;
    left: 72%;
  }

  .elipse-4 {
    position: absolute;
    left: 87%;
    top: 10%;
    width: 100px;
    height: 100px;
  }

  .elipse-6 {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 90px;
    height: 90px;
  }


.elipse-9 {
    height: 34px;
    width: 34px;
    top: 12%;
    position: absolute;
    left: 19%;
  }

  .elipse-16 {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 15%;
    left: 75%;
  }

  .elipse-center-1 {
    width: 175px;
    height: 190px;
  }

  .elipse-center-2 {
    width: 139px;
    height: 190px;
  }

  .elipse-center-3 {
    width: 116px;
    height: 190px;
  }
  .logo {
    width: 106px;
    height: 106px;
    transform: translate(-50%, 48%);
  }
}

@media only screen and (max-width: 600px) {
  .elipse-7,
  .elipse-8,
  .elipse-10,
  .elipse-11,
  .elipse-12,
  .elipse-13,
  .elipse-14,
  .elipse-15 {
    opacity: 0;
    color: var(--color-light);
    position: absolute;
  }
}

@media only screen and (min-width: 600px) {
  .elipse-7 {
    position: absolute;
    top: 10%;
    left: 19%;
    width: 100px;
    height: 100px;
  }

  .elipse-8 {
    position: absolute;
    top: 13%;
    right: 28%;
    width: 50px;
    height: 50px;
  }

  .elipse-9 {
    height: 30px;
    width: 30px;
    top: 21%;
    position: absolute;
    left: 35%;
  }

  .elipse-10 {
    position: absolute;
    width: 50px;
    top: 0%;
    height: 50px;
    left: 57%;
  }

  .elipse-11 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 22.5%;
    left: 57%;
  }
  .elipse-12 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15%;
    left: 80%;
  }

  .elipse-13 {
    position: absolute;

    width: 120px;
    height: 120px;
    top: 23%;
    right: 1%;
  }
  .elipse-14 {
    position: absolute;

    width: 120px;
    height: 120px;
    top: 24%;
    left: 1%;
  }
  .elipse-15 {
    position: absolute;
    top: 5%;
    left: 32%;
  }
  .elipse-16 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 13%;
    left: 13%;
  }
}
