.options {
  color: var(--color-darkest);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
}

.btn-option {
  width: 100%;
  text-align: justify;
  font-family: inherit;
  font-weight: 600;
  border: none;
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
  color: var(--color-dark);

  transition: 0.3s;

  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
}

.btn-option.correct {
  background-color: var(--color-theme);
  /* border: 1px solid var(--color-theme); */
  color: var(--color-light);
}
.btn-option.wrong {
  background-color: var(--color-accent);
  /* border: 1px solid var(--color-accent); */
  color: var(--color-darkest);
}

.answer {
  transform: translateX(2rem);
}

.btn-option:not([disabled]):hover {
  transform: translateX(2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}
