.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 10%;
}

.welcome h2 {
  font-family: "Lilita One", sans-serif;
  letter-spacing: 1px;
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin: 3%;
  color: var(--color-header2);
}

.welcome button {
  font-family: inherit;
  color: var(--color-header);
  font-weight: 700;
  border: none;
  font-size: 2.8rem;

  padding: 1.2rem 2.4rem;
  cursor: pointer;

  transition: 0.3s;

  border-radius: 30px;
  background: #f1f6fa;
  box-shadow: 5px 5px 10px #cdd1d5, -5px -5px 10px #ffffff;
}

.welcome button:hover {
  background: var(--color-header);
  color: var(--color-light);
}
